<% if !@user.has_cars%>
  <div class='buttons'>
  <%= link_to 'New Car', new_user_car_path(@user)%>
  </div>
  <br>
  <h3>You Currently Do Not Have Any Cars</h3>
  <h5>Click 'New Car' to Add Yours!</h5>
  <br>

<% else %>

<h2 class="test">Your Cars!</h2>
<div class='buttons'>
<%= link_to 'New Car', new_user_car_path(@user)%>
</div>
<br>
<div>
    <% @cars.each do |car|%>
      <div class="details">
      <h3><%= link_to car.nickname, user_car_path(@user, car) %></h3>
        <div class="image-details">
          <p>Make: <%= car.make %></p>
          <p>Model: <%= car.model %></p>
          <p>Color: <%= car.color %></p>
        </div>
      </div>
      <% end %>
</div>
<% end %>

