<h1>Create New Car!</h1>
<%= render partial: 'errors_form' %> 
<%= form_for @car, url: user_cars_path(@car.user) do |f| %>
    <%= f.hidden_field :user_id %>
    <%= f.label :nickname %>
    <%= f.text_field :nickname %>
    <br>
    <br>
    <%= f.label :make %>
    <%= f.text_field :make %>
    <br>
    <br>
    <%= f.label :model %>
    <%= f.text_field :model %> 
    <br>
    <br>
    <%= f.label :color %>
    <%= f.text_field :color %>
    <br>
    <br>
    <%= f.submit %>
    <br>
    <br>
    <br>
<% end %>